.news{

    &__c{
        &-list{
            margin-top: 3.5rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            &-e{
                padding: 2rem;
                border-top: .2rem solid $light-grey-color;
                display: grid;
                grid-template-columns: min-content 86rem auto;
                gap: 2.5rem;
                justify-content: space-between;
                @media (max-width: 48em) {
                    grid-template-columns: 100%;
                }
            
                    &:hover{
                        background-color: $yellow-color;
                        color: $black-color;
                        border-color: $yellow-color;
                       
                        & .news__c-list-e-img{
                            filter: grayscale(0);
                        
                        }
                        & .news__c-list-e-link{
                            & .setup--btn-yellow{
                                & .text{
                                    color: $black-color ;
    
                                }
                                & .btn{
                                    background-color: $black-color;
                                }
                                & svg path{
                                    stroke: $yellow-color;
                                }
                              
                            }
                        }
                    }
               
              
                &-img{
                    width: 30rem;
                    height: 30rem;
                    display: flex;
                    filter: grayscale(90%);
                  
                    @media (max-width: 48em) {
                        width: 100%;
                        height: 71rem;
                    }
                    & picture {
                       display: flex;
                       & img{
                        object-fit: cover;
                      
                       }
                    }
                    
                }
                &-body{
                    
                    display: flex;
                    flex-direction: column;
                    gap: 1.2rem;
                    @media (max-width: 48em) {
                        gap: 2rem;
                    }
                }
                &-link{
                    height: fit-content;
                    @media (max-width: 48em) {
                     justify-self: flex-end;
                    }

                }
            }
        }
    }
}