.subcategories {
  &__content {
    display: flex;
    flex-direction: column;
    .content {
      &-top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 42.7rem;
        padding: 3.6rem;
        background-image: url('../img/subcategories/subcategories--backgroundPhoto-desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: grayscale(90%);
        &__info {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          .info {
            &__block {
              display: flex;
              gap: 1.2rem;
            }
            &__box {
              width: 41.7rem;
              border-bottom: 0.2rem solid $light-grey-color;
            }
            &__title {
              font-size: 2rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              opacity: 0.6;
            }
            &__value {
              font-size: 2rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              padding: 0.2rem 0 1.6rem;
            }
          }
        }
      }
      &-bottom {
        padding: 3.6rem;
        background-color: $dark-grey-color;
        &__title {
          margin-bottom: 2.7rem;
        }
        &__content {
          display: flex;
          gap: 6.4rem;
          .content {
            &-left {
              width: 33.1rem;
              &__title {
                margin-bottom: 2.7rem;
              }
              &__text {
                opacity: 0.6;
              }
            }
            &-right {
              display: flex;
              gap: 1.2rem;
            }
          }
        }
      }
    }
  }
  &-property {
    width: 45.2rem;
    min-height: 26.9rem;
    padding: 3.6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid $light-grey-color;
    &__box {
      width: 32.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__icon {
      margin-bottom: 2.8rem;
      .icon {
        width: 5.7rem;
        height: 5.7rem;
      }
    }
    &__title {
      color: $yellow-color;
      margin-bottom: 0.8rem;
      text-align: center;
    }
    &__text {
      text-align: center;
    }
  }
}

@media (max-width: 48em) {
  .subcategories {
    &__content {
      .content {
        &-top {
          height: 103.6rem;
          padding: 8rem 4rem;
          background-image: url('../img/subcategories/subcategories--backgroundPhoto-mobile.png');
          &__info {
            flex-direction: column;
            gap: 4rem;
            .info {
              &__block {
                flex-direction: column;
                gap: 4rem;
              }
              &__box {
                width: 63rem;
              }
              &__title {
                font-size: 2.8rem;
              }
              &__value {
                font-size: 2.8rem;
                padding: 0.8rem 0 2.8rem;
              }
            }
          }
        }
        &-bottom {
          padding: 8rem 4rem;
          &__content {
            flex-direction: column;
            gap: 4rem;
            .content {
              &-left {
                width: 100%;
                &__title {
                  margin-bottom: 2.4rem;
                }
              }
              &-right {
                align-items: center;
                flex-direction: column;
                gap: 4rem;
              }
            }
          }
        }
      }
    }
    &-property {
      width: 63rem;
      min-height: 29rem;
      padding: 4rem 0;
      border: 0.3rem solid #7d7d7d;
      &__box {
        width: 48.8rem;
      }
      &__icon {
        margin-bottom: 2.4rem;
        .icon {
          width: 5.8rem;
          height: 5.8rem;
        }
      }
      &__title {
        margin-bottom: 0.8rem;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////

.subcategories {
  &-projects {
    &__content {
      .content {
        &__title {
          margin-bottom: 3.6rem;
        }
        &__subtitle {
          width: 137.9rem;
          margin-bottom: 4rem;
        }
        &__filters {
          display: flex;
          margin-bottom: 4rem;
          .filters {
            &__button {
              color: #7d7d7d;
              text-transform: uppercase;
              padding-right: 4rem;
              padding-bottom: 0.4rem;
              border-bottom: 0.2rem solid #7d7d7d;
              &:not(:first-child) {
                padding-left: 4rem;
              }
              &.active {
                color: $yellow-color;
                border-bottom-color: $yellow-color;
                position: relative;
                &::before {
                  content: '';
                  position: absolute;
                  bottom: -0.2rem;
                  right: -0.7rem;
                  width: 1.6rem;
                  height: 2.5rem;
                  border-right: 0.3rem solid $yellow-color;
                  transform: skew(-30deg);
                }
              }
            }
          }
        }
        &__projects {
          display: flex;
          flex-direction: column;
          gap: 3.6rem;
          .project {
            &-box {
              display: flex;
              height: 45.1rem;
              background-color: $dark-grey-color;
              &.default {
                .project-right {
                  display: none;
                }
              }
              &.extend {
                .project-right {
                  display: flex;
                }
              }
              &:hover {
                background-color: $yellow-color;
                color: $black-color;
                // transition: all 0.25s ease-in-out;
                .project {
                  &-center {
                    border-left-color: $black-color;
                    border-top-color: $black-color;
                  }
                  &-right {
                    border-left-color: $black-color;
                    border-bottom-color: $black-color;
                  }
                  &-icons {
                    &__icon {
                      &.area {
                        path {
                          fill: $black-color;
                        }
                      }
                      path {
                        stroke: $black-color;
                      }
                      ellipse {
                        stroke: $black-color;
                      }
                    }
                    &__text {
                      opacity: 1;
                    }
                  }
                  &-location {
                    &__icon {
                      path {
                        fill: $black-color;
                        stroke: $black-color;
                      }
                    }
                  }
                  &-img {
                    filter: grayscale(0);
                  }
                  &-btn {
                    color: $black-color;
                  }
                  &-status {
                    color: $black-color;
                  }
                }
              }
            }
            &-left {
              padding: 2.8rem;
            }
            &-center {
              flex: 1 0;
              padding: 6rem 5rem;
              border-left: 0.2rem solid #7d7d7d;
            }
            &-right {
              width: 14.1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              border-left: 0.2rem solid #7d7d7d;
            }
            &-img {
              width: 55rem;
              height: 39.5rem;
              filter: grayscale(90%);
            }
            &-content {
              position: relative;
              display: flex;
              align-items: flex-end;
              gap: 5rem;
              margin-bottom: 4.5rem;
            }
            &-info {
              display: flex;
              flex-direction: column;
              gap: 4.4rem;
            }
            &-icons {
              display: flex;
              gap: 5rem;
              &__block {
                display: flex;
                align-items: center;
                gap: 1.6rem;
              }
              &__icon {
                width: 3.2rem;
                height: 3.2rem;
              }
              &__text {
                opacity: 0.6;
              }
            }
            &-location {
              cursor: pointer;
              position: static;
              &.mobile {
                display: none;
              }
              &__icon {
                width: 3.2rem;
                height: 3.2rem;
              }
            }
            &-title {
              font-size: 4rem;
              font-style: normal;
              font-weight: 500;
              line-height: 115%;
              text-transform: uppercase;
            }
            &-text {
              display: flex;
              flex-direction: column;
              gap: 0.8rem;
              font-size: 2rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            &-btn {
              display: none;
              color: $yellow-color;
              margin: 0 auto;
              margin-top: 4rem;
              cursor: pointer;
            }
            &-status {
              color: $yellow-color;
              transform: rotate(-90deg);
              &.develope {
                flex: none;
                color: $light-grey-color;
              }
            }
          }
        }
        &__button {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $yellow-color;
          margin-top: 4rem;
          & > button {
            &:hover {
              color: $white-color;
              transition: all 0.5 ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 48em) {
  .subcategories {
    &-projects {
      &__content {
        .content {
          &__subtitle {
            width: 100%;
          }
          &__filters {
            overflow-y: auto;
            &::-webkit-scrollbar {
              display: none;
            }
            .filters {
              &__button {
                border-bottom-width: 0.3rem;
                flex: none;
                padding-bottom: 1.6rem;
                &.active {
                  &::before {
                    height: 5rem;
                    bottom: -0.3rem;
                    right: -1.5rem;
                    border-right-width: 0.4rem;
                  }
                }
              }
            }
          }
          &__projects {
            .project {
              &-box {
                flex-direction: column;
                &.default {
                  height: auto;
                }
                &.extend {
                  height: auto;
                  & div:nth-child(1) {
                    order: 2;
                  }
                  & div:nth-child(2) {
                    order: 3;
                  }
                  & div:nth-child(3) {
                    order: 1;
                  }
                }
              }
              &-left {
                padding: 4rem;
              }
              &-center {
                border-top: 0.3rem solid #7d7d7d;
                border-left: none;
                padding: 4rem;
              }
              &-right {
                width: 100%;
                padding-top: 4rem;
                padding-bottom: 2.4rem;
                border-left: none;
                border-bottom: 0.3rem solid #7d7d7d;
              }
              &-img {
                width: 63rem;
                height: 45.2rem;
              }
              &-content {
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 4rem;
              }
              &-info {
                gap: 2.8rem;
              }
              &-icons {
                gap: 4rem;
                &__block {
                  gap: 2.4rem;
                }
                &__icon {
                  width: 4.8rem;
                  height: 4.8rem;
                }
                &__text {
                  font-size: 2.6rem;
                }
              }
              &-location {
                position: static;
                &.desctop {
                  display: none;
                }
                &.mobile {
                  display: block;
                }
                &__icon {
                  width: 4.8rem;
                  height: 4.8rem;
                }
              }
              &-title {
                font-size: 4rem;
              }
              &-text {
                font-size: 2.8rem;
                gap: 0.8rem;
              }
              &-btn {
                display: block;
              }
              &-status {
                transform: rotate(0deg);
              }
            }
          }
          &__button {
            margin-top: 6.4rem;
          }
        }
      }
    }
  }
}
